.instalaciones-container-list {
    display: flex;
    justify-content: center;
    background-color: #1E2029;
    color: white;
    width: 100%;
}

.instalaciones-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.instalaciones-list li {
    cursor: pointer;
    padding: 12px;
    margin-top: 9px;
}
.active {
    background-color: #e1ff00;
    border-radius:25% ;
    color: #1E2029;
}