.container-otras-instalaciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-instalaciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:1.5rem ;
    margin-bottom:1.5rem ;
   

}
.header {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.main {
    display: flex;
    flex-direction: column;
}

.cards{
    display: flex;
    flex-direction: row;
    gap: 12px;
    }

.row-card {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.images.instalaciones {
    display: flex;
    flex-direction: row;
}
.img-instalaciones {
    margin: 6px;
    border-radius: 2%;
    max-height: 320px;

}

