/* User.css */

/* Estilos generales existentes */

.container-page-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
    width: 100%;
}
.edit{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.row1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95%;
}

.header-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
    max-width: 800px;
    text-align: center;
}

.header-user img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.header-user h2 {
    margin: 10px 0;
}

.button-user {
    background-color: #1E2029;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.yellow{
    background-color: #e1ff00;
    color: black;
    
}

.button-user:hover {
    background-color: #1e2029a2;
}

.updateImage {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
}

.updateImage input {
    margin-bottom: 10px;
}

.updateImage button {
    background-color: #1E2029;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.updateImage button:hover {
    background-color: #1e2029a2;
}

.data-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

.data-owner, .data-right {
    width: 50%;
    padding: 10px;
}

.data-owner p, .data-right p {
    margin-bottom: 15px;
}

.span-bold {
    display: block;
    font-weight: bold;
}

.data-owner p input, .data-right p input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

hr {
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #ddd;
}

.extra-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    text-align: center;
}

/* Media Queries */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 600px) {
    .row1 {
        flex-direction: column;
        align-items: center;
    }

    .data-owner, .data-right {
        width: 100%;
    }
}

/* Tablets and larger smartphones (portrait) ----------- */
@media only screen and (max-width: 768px) {
    .row1 {
        flex-direction: column;
        align-items: center;
    }

    .data-owner, .data-right {
        width: 100%;
    }
}

/* Laptops and desktops ----------- */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .row1 {
        flex-direction: row;
        justify-content: space-around;
    }

    .data-owner, .data-right {
        width: 45%;
    }
}

/* Large desktops and high-resolution laptops ----------- */
@media only screen and (min-width: 1025px) {
    .row1 {
        flex-direction: row;
        justify-content: space-between;
    }

    .data-owner, .data-right {
        width: 45%;
    }
}
